body {
        --background: #f0f0f0;
        --oddRows: white;
        --evenRows: #f0f0ff;
}

.translationDiv {
        min-height: 20px;
        min-width: 300px;
        background: var(--background);
        visibility: hidden;
        position: absolute;
        border: 2px solid black;
}



.translationTable tr:nth-child(even) {
        background: var(--evenRows);
}

.translationTable tr:nth-child(odd) {
        background: var(--oddRows);
}

.translationTable input[type="checkbox"] {
        pointer-events: none;
}

.translationTable td {
        padding: 6px 6px 6px 6px;
        min-width: auto;
}

.translationTable {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        position: relative;
        z-index: 100000000000000000000;
        background: var(--background);
}
